<a class="dropdown-item" href="{{ uri }}?_locale=en">
    <img src="{{ asset('icons/flags/gb.svg') }}"> English ({{ 'label.default' | translate }})</a>
<a class="dropdown-item" href="{{ uri }}?_locale=ua">
    <img src="{{ asset('icons/flags/ua.svg') }}"> Українська</a>
<a class="dropdown-item" href="{{ uri }}?_locale=ru">
    <img src="{{ asset('icons/flags/ru.svg') }}"> Русский</a>
<a class="dropdown-item" href="{{ uri }}?_locale=pt">
    <img src="{{ asset('icons/flags/pt.svg') }}"> Portuguese</a>
<a class="dropdown-item" href="{{ uri }}?_locale=es">
    <img src="{{ asset('icons/flags/es.svg') }}"> Spanish</a>
<a class="dropdown-item" href="{{ uri }}?_locale=de">
    <img src="{{ asset('icons/flags/de.svg') }}"> German</a>
<a class="dropdown-item" href="{{ uri }}?_locale=fr">
    <img src="{{ asset('icons/flags/fr.svg') }}"> French</a>
<a class="dropdown-item" href="{{ uri }}?_locale=pl">
    <img src="{{ asset('icons/flags/pl.svg') }}"> Polish</a>
<a class="dropdown-item" href="{{ uri }}?_locale=no">
    <img src="{{ asset('icons/flags/no.svg') }}"> Norwegian</a>
<a class="dropdown-item" href="{{ uri }}?_locale=in">
    <img src="{{ asset('icons/flags/id.svg') }}"> Indonesian</a>
<a class="dropdown-item" href="{{ uri }}?_locale=bn">
    <img src="{{ asset('icons/flags/bd.svg') }}"> বাংলা (Bengali)</a>
<a class="dropdown-item" href="{{ uri }}?_locale=hi">
    <img src="{{ asset('icons/flags/gb.svg') }}"> हिंदी (Hindi)</a>
<a class="dropdown-item" href="{{ uri }}?_locale=cn">
    <img src="{{ asset('icons/flags/cn.svg') }}"> 中文 (Chinese)</a>
<a class="dropdown-item" href="{{ uri }}?_locale=jp">
    <img src="{{ asset('icons/flags/jp.svg') }}"> 日本人 (Japanese)</a>