{% for language in languages.locales %}
<a class="dropdown-item" href="{{ uri }}?locale={{ language.code }}">
    <img class="lang-icon" src="{{ asset('icons/flags/' ~ lower(language.country.code) ~ '.svg') }}">&nbsp;{{ language.getName() }} ({{ language.getLocal() }})</a>
{% endfor %}