{% for locale in locales %}
<a class="dropdown-item" href="{{ uri }}?_locale={{ locale.language.getCode() }}">
    <img src="{{ asset('icons/flags/' ~ locale.getCode() ~ '.svg') }}">&nbsp;{{ locale.language.getName() }} ({{ locale.language.getLocal() }})</a>
{% endfor %}