{% for locale in languages.locales %}
<a class="dropdown-item" href="{{ uri }}?locale={{ lower(locale.language.code) }}">
    <img class="lang-icon" src="{{ asset('icons/flags/' ~ lower(locale.code) ~ '.svg') }}">&nbsp;{{ locale.language.getName() }} ({{ locale.language.getLocal() }})</a>
{% endfor %}