<div class="card-header">
    <div class="btn-group btn-group-sm" role="group">
        <button onclick="location.href='/blog/posts/create'" type="button" class="btn btn-primary">{{ 'label.create' | translate }}</button>
        <button onclick="location.href='/blog/categories'" type="button" class="btn btn-primary">{{ 'label.categories' | translate }}</button>
        <button onclick="location.href='/blog/domains'" type="button" class="btn btn-primary">{{ 'label.domains' | translate }}</button>
        <button onclick="location.href='/blog/settings'" type="button" class="btn btn-danger">{{ 'label.settings' | translate }}</button>
        <button onclick="location.href='/blog/posts/selectDomain'" type="button" class="btn btn-info">{{ 'label.select' | translate }}&nbsp;{{ 'label.domain' | translate }}</button>
    </div>
</div>