{% extends '../layout/main.twig' %}
{% block title %}{% if not user.old %}Create{% else %}Update user {{ user.username }}{% endif %}{% endblock %}
{% block content %}
    <form method="post" action="/users">
        <div class="row">
            <div class="col-lg-6">
                <div class="bs-component">
                    <fieldset>
                        <legend>Information</legend>
                        {% if user.new %}
                            <div class="form-group">
                                <label for="userName">Username</label>
                                <input name="username" type="text" class="form-control" id="userName"
                                       placeholder="username" readonly
                                       onfocus="this.removeAttribute('readonly');">
                            </div>
                        {% else %}
                            <div class="form-group">
                                <label for="userName">Username</label>
                                <input name="username" type="text" class="form-control" readonly id="userName"
                                       value="{{ user.username }}">
                            </div>
                            <input type="hidden" name="id" value="{{ user.id }}">
                        {% endif %}
                        <div class="form-group">
                            <label for="userName">Password</label>
                            <input name="password" type="password" class="form-control" id="userPassword"
                                   placeholder="password" readonly
                                   onfocus="this.removeAttribute('readonly');">
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" name="enabled" id="userEnable"
                                       {% if user.enabled %}checked{% endif %}>
                                <label class="custom-control-label" for="userEnable">Enabled user</label>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="bs-component">
                    <fieldset>
                        <legend>Roles</legend>
                        <div class="form-group">
                            {% if user.old %}
                                {% set counter = 0 %}
                                {% for role in roles %}
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" name="roles[{{ counter }}].id" value="{{ role.id }}"
                                               class="custom-control-input" id="userRole{{ role.id }}"
                                               {% if role.id in user.rolesIds %}checked{% endif %}>
                                        <label class="custom-control-label"
                                               for="userRole{{ role.id }}">{{ role.name }}</label>
                                    </div>
                                    {% set counter = counter + 1 %}
                                {% endfor %}
                            {% else %}
                                <div class="card border-primary mb-3">
                                    <div class="card-header">Attention!</div>
                                    <div class="card-body">
                                        <p class="card-text">
                                            Save from the beginning of a new user to be able to assign roles
                                        </p>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="bs-component">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}