{% extends '../layout/main.twig' %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1 id="tables">Users</h1>
            </div>
            <div class="bs-component">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col" class="min-vh-100">ID</th>
                        <th scope="col">Username</th>
                        <th scope="col">Roles</th>
                        <th scope="col">Status</th>
                        <th scope="col">Registered</th>
                        <th scope="col" class="w-25"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        {% set edit = '/users/edit/' ~ user.id %}
                        {% set disable = '/users/status/disable/' ~ user.id %}
                        {% set enable = '/users/status/enable/' ~ user.id %}
                    <tr>
                        <th scope="row">{{ user.id }}</th>
                        <td>{{ user.username }}</td>
                        <td>
                            {% for role in user.roles %}
                                <b>{{ role.name }}</b>
                            {% endfor %}
                        </td>
                        <td>
                            {% if user.enabled %}
                                <span class="badge badge-pill badge-success">Enabled</span>
                            {% else %}
                                <span class="badge badge-pill badge-danger">Disabled</span>
                            {% endif %}
                        </td>
                        <td>
                            [{{ user.created }}]
                        </td>
                        <td class="text-lg-right">
                            <button type="button" onclick="location.href='{{ edit }}'" type="button"
                                    class="btn btn-sm btn-link">Edit</button>
                            {% if user.enabled %}
                                <button type="button" onclick="location.href='{{ disable }}'" type="button"
                                        class="btn btn-sm btn-danger">Disable</button>
                            {% else %}
                                <button type="button" onclick="location.href='{{ enable }}'" type="button"
                                        class="btn btn-sm btn-info">Enable</button>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}