{% extends '../layout/main.twig' %}
{% block title %}{{ 'title.setting' | translate }}{% endblock %}
{% block content %}
    <div class="page-header mb-4">
        <h1 id="tables">{{ 'title.setting' | translate }}</h1>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card bg-light mb-3">
                <div class="card-header">{{ 'label.language' | translate }}</div>
                <div class="card-body">
                    <ul>
                        {% for locale in languages.locales %}
                        <li><a href="{{ uri }}?locale={{ locale.language.getCode() }}">{{ locale.language.getName() }} ({{ locale.language.getLocal() }})</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <h5>{{ 'label.theme' | translate }}</h5>
            <div class="list-group">
                <a class="list-group-item list-group-item-action {% if theme == 'minty' %}active{% endif %}"
                   href="{{ uri }}?theme=minty">Minty ({{ 'label.default' | translate }})</a>
                <a class="list-group-item list-group-item-action {% if theme == 'pulse' %}active{% endif %}"
                   href="{{ uri }}?theme=pulse">Pulse</a>
                <a class="list-group-item list-group-item-action {% if theme == 'flatly' %}active{% endif %}"
                   href="{{ uri }}?theme=flatly">Flatly</a>
                <a class="list-group-item list-group-item-action {% if theme == 'journal' %}active{% endif %}"
                   href="{{ uri }}?theme=journal">Journal</a>
                <a class="list-group-item list-group-item-action {% if theme == 'lumen' %}active{% endif %}"
                   href="{{ uri }}?theme=lumen">Lumen</a>
                <a class="list-group-item list-group-item-action {% if theme == 'sandstone' %}active{% endif %}"
                   href="{{ uri }}?theme=sandstone">Sandstone</a>
                <a class="list-group-item list-group-item-action {% if theme == 'simplex' %}active{% endif %}"
                   href="{{ uri }}?theme=simplex">Simplex</a>
            </div>
        </div>
    </div>
{% endblock %}