{% extends '../layout-link.twig' %}
{% import '../../../shared/macro/fields.twig' as fields %}
{% import '../../../shared/macro/pagination.twig' as pagi %}
{% block title %}MongoDB Viewer | {{ 'label.records' | translate }}{% endblock %}
{% block content %}
    <div class="page-header mb-4">
        <h1 id="tables">{{ 'label.records' | translate }} [{% if sourceService.hasActiveSource() %}{{ sourceService.getActiveSource().getName() }}{% else %}?{% endif %}]</h1>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card border-light mb-3">
                {% include '../partials/setting-header-buttons.twig' %}
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">{{ 'label.id' | translate }}</th>
                            <th scope="col">{{ 'label.time' | translate }}</th>
                            <th scope="col" class="w-25"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for record in records %}
                            {% set view = '/mdbv/records/view/' ~ record.getId() %}
                            <tr>
                                <td>
                                    [{{ record.getId() }}]
                                </td>
                                <td>
                                    {% if record.getTime().isPresent() %}
                                        {{ record.getTime().get() }}
                                    {% else %}
                                        <i>[undefined]</i>
                                    {% endif %}
                                </td>
                                <td class="text-lg-right">
                                    <button type="button" onclick="location.href='{{ view }}'"
                                            class="btn btn-sm btn-primary">{{ 'label.view' | translate }}</button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    {{ pagi.pagination(pagination.total, pagination.size, pagination.current, '/mdbv/records?page=') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}